<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.inventoryapp1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorScreenActivity"
            android:label="@string/editor_activity_title_new_device"
            android:parentActivityName=".MainScreenActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />
        </activity>
        
        <provider
            android:authorities="com.example.android.inventoryapp1"
            android:name=".data.DeviceProvider"
            android:exported="false"/>

        <activity android:name=".DeviceDetails"
            android:label="Product Detail"
            android:parentActivityName=".MainScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainScreenActivity" />
        </activity>
    </application>

</manifest>